$brown: rgb(90,71,65);
$green: rgb(104,147,132);
$softgreen : rgb(185,217,206);
$lightgreen : rgb(229,241,234);
$padding-menu: 0.5em;

$use-mozilla-ellipsis-binding: true;
@import "compass/typography/text/ellipsis";
@import "compass/css3";
@import "helpers/clearfix";
@import "helpers/responsive";
@import "helpers/font-awesome";

html, body {
	width:100%;
	height:100%;
}

body {
    @include background-image(radial-gradient(center top, ellipse cover, rgba(71,71,71,1) 0%,rgba(14,14,14,1) 100%));
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wrapper {
    position: relative;
    h1 {
        font-size: 1.5em;
        position: absolute;
        top: 5em;
        left: 50%;
        margin:0 0 0 (-13em - 2 * 0.3em) / 2;
        width: 13em;
        padding: 4em 0;
        color: #fff;
        text-align: center;
        border: 0.3em solid #fff;
        @include border-radius(100%);
        @include box-shadow(0 0 1em rgba(0,0,0,0.5));
        text-shadow: 0 0 0.3em rgba(0,0,0,0.5);
        strong {
            font-size: 2.5em;
            display: block;
        }
    }
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    margin-right: 0.5em;
    opacity: 0.2;
}


/* Defaut link style */
%menu-link {
    background-color: $green;
    display: block;
    color: $lightgreen;
    text-decoration: none;
    padding: 0.5em;
    @include transition(transform 500ms linear, box-shadow 500ms ease-in, background-color 250ms ease-in);
}

%hover-menu-link {
    background-color:$softgreen;
    color: $brown;
}

#access {
    @include clearfix;
    font-size: 1.5em;
    @include box-shadow(0 0 10px rgba(0,0,0,0.5));
    a, #menu a {
        @extend %menu-link;
        
        &:hover {
            @extend %hover-menu-link;
        }
        
        &.skip-link {
            position: relative;
            z-index: 2;
            
            span {
                position: absolute;
                right: 0.5em;
                top: 0.5em;
                @include box-shadow(inset 0 0 0.5em rgba(0,0,0,.2));
                padding: 0 0.3em;
            }
            
            &.focus {
                @extend %hover-menu-link;
            }
        }
    }
    
    #menu li.active a, #menu li.active:nth-child(odd) {
        a, a:hover {
            background-color: $brown;
            color: #fff;
            cursor: default;
        }
    }
}

#menu {
    @include transform-style(preserve-3d);
    @include transition(margin 500ms linear);
    border: 0 none;
    margin: 0;
    padding: 0;
    
    li {
        @include transform-style(preserve-3d);
        list-style-image: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        @include transition(max-height 500ms linear);
        
        a {
            @include transform-origin(top);
            @include ellipsis;
            @extend %menu-link;
            &:hover {
                @extend %hover-menu-link;
            }
        }
    }
}

@include tablet-portrait-and-below {
    #menu {
        margin-top: -1.2em;
        overflow: hidden;
        
        li {
            max-height: 0;
            position: relative;
            @include perspective(25em);
            
            a {
                @include transform(rotateX(-90deg) scaleZ(0.97));
                position: relative;
                overflow: hidden;
                background-color: darken($green, 15%);
            }
            
            &:nth-child(odd) {
                a {
                    @include box-shadow(inset 0 0 4em rgba(0, 0, 0, 0.5));
                    @include transform(rotateX(90deg) scaleZ(0.97));
                }
            }
            
            &.active a, & a:hover {
                &:before {
                    opacity: 1;
                }
            }
            
            & a:hover {
                &:before {
                    color: $green;
                }
            }
            
            &.active a, &.active a:hover {
                &:before {
                    color: #fff;
                }
            }
            
        }
        
        &:target, &.target {
            margin-top: 0;
            
            li {
                max-height: 1.5em + $padding-menu * 2;
                a {
                    @include box-shadow(inset 0 0 0 rgba(0, 0, 0, 0));
                    @include transform(rotateX(0) scaleZ(1));
                }
            }
        }
    }
}

@include tablet-landscape-and-up {

    [class^="icon-"]:before,
    [class*=" icon-"]:before {
        display: block;
        text-align: center;
        margin-right: 0;
    }
    
    #access a.skip-link {
        display: none;
    }

    #menu {
        background: $green;
        text-align: center;
        li {
            @include inline-block;
            a {
                &:before {
                    @include transition(transform 500ms ease-in);
                }
                
                &:hover {
                    &:before {
                        @include transform(translateY(1em) scale(3) rotate(15deg));
                    }
                }
            }
        }
    }
}